<h1>Add a new Astronaut</h1>

<form action="/nasa/crew_members" method="post" class="callout">
<label for="name"> Name
  <input type="text" name="name">
</label>

<input type="submit" value="submit">
</form>